<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAcRpMd1tMQqQgUa3qBchYXSdc1PoOaXyE</string>
	<key>GCM_SENDER_ID</key>
	<string>360956409926</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebaseNotifications</string>
	<key>PROJECT_ID</key>
	<string>flutter-app-notification-9424c</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-app-notification-9424c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:360956409926:ios:9e02dc047b9dac00d37247</string>
</dict>
</plist>